<% provide(:title, "Sign in") %>
<h1>サインイン</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :userID %>
      <%= f.text_field :userID %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "サインイン", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>アカウントを持ちません? <%= link_to "登録しよう！", signup_path %></p>
  </div>
</div>