<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "仮ツイター", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "ホーム", root_path %></li>
         
          
          <% if signed_in? %>
            <li><%= link_to "ユーザー", users_path %></li>
            <li><%= link_to "タイムラインの検索", postindex_path %></li>
                <li><%= link_to "友達の検索", all_path %></li>
                <li>
                  <%= link_to "サインアウト", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "ユーザー登録", signup_path %></li>
            <li><%= link_to "サインイン", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>